#cs1300-gallery {
  font-family: Gill Sans, sans-serif;font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

.gallery-item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.gallery-item { 
  gap: 10rem;
  width: 70rem;
}

.lofi-item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: start;
}

.lofi-item { 
  gap: 10rem;
  width: 50%;
}

.hifi-item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: start;
}

.hifi-item1 { 
  gap: 10rem;
  width: 50%;
}

.hifi-item2 {
  gap: 10rem;
  width: 30.9%;
}
